<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>AI Movie Describer</title>
</head>
<body>
<!-- This is the homepage -->
<div text-align="center">
  <h1>AI Movie Helper</h1>


  <!-- These are links to where the forms show -->
  <p>Hello. Welcome to the future. Where the computer tells you what movies are.</p>
  <a href="/movies/form">Click Here to add new Movie</a> <br><br>

  <a href= "/api/movies">Click here for the Movie List in JSON Format</a>
<br><br>
  <a href="/movies">Click Here for the Movie List in HTML Format</a>
</div>




</body>
</html>